/*SETTINGS*/
:root{
    --open-sans: 'Open Sans', sans-serif;
    --raleway: 'Raleway', sans-serif;
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    width: 1352px;
    margin: 0 auto;
}

/*-----HEADER-----*/
.header{
    height: 70px;
    display: flex;
    justify-content: center;
    box-shadow: 0 3px 6px #00000029;
}
.header-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav p{
    font-family: var(--raleway);
    font-weight: 300;
    font-size: 32px;
    color: var(--color-primary);
}
.nav-list{
    display: flex;
    align-items: center;
}
.nav-list a{
    font-family: var(--open-sans);
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 3.28px;
    color: var(--color-grey);
    text-decoration: none;
    margin-left: 95px;
    padding-bottom: 22px;
}
.nav-list a:hover{
    color: var(--color-black);
    border-bottom: 4px solid var(--color-primary);
}


/*-----MAIN-----*/
/*opener*/
.section-opener{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-opener h1{
    font-family: var(--raleway);
    font-size: 49px;
    margin-top: 130px;
}
.section-opener p{
    font-family: var(--open-sans);
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 38px;
}
.section-opener a{
    font-family: var(--open-sans);
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 22px 157px;
    border-radius: 40px;
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
}
.section-opener img{
    width: 100%;
}

/*stats*/
.stats{

}
h2{
    font-family: var(--raleway);
    font-size: 36px;
    margin: 100px 0;
    text-align: center;
}
.stats-container{
    display: flex;
    justify-content: space-evenly;
    align-self: center;
}
.stat-single{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
.stats-circle{
    width: 63px;
    height: 63px;
    border-radius: 50%;
    position: relative;
}
.stats-img{
    position: absolute;
}
.stat-single:nth-child(1) .stats-circle{
    background-color: var(--color-redish);
}
.stat-single:nth-child(1) .stats-img{
    top: 0;
    left: 45%;
}
.stat-single:nth-child(2) .stats-circle{
    background-color: var(--color-primary);
}
.stat-single:nth-child(2) .stats-img{
    top: 13px;
    left: 47%;
}
.stat-single:nth-child(3) .stats-circle{
    background-color: var(--color-green);
}
.stat-single:nth-child(3) .stats-img{
    top: 3px;
    left: 50%;
}
.stats-number{
    font-family: var(--raleway);
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 5.96px;
    margin: 14px 0;
}
.stats-descr{
    font-family: var(--raleway);
    font-size: 17px;
    color: var(--color-grey);
    margin-bottom: 120px;
}

/*benefits*/
.benefits{
    background-color: var(--color-light-grey);
    padding: 105px 0;
}
.benefits-container{
    padding: 0 100px;
}
.benefits-single {
    background-color: var(--color-white);
    border: 1px solid #E8E9ED;
    margin-bottom: 37px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.benefits-text{
    margin: 90px 36px;
}
.benefits-text::after{
    content: "";
    display: block;
    width: 300px;
    height: 3px;
    background-color: var(--accent-color);
    margin-top: 50px;
}
.benefits-text h3{
    font-family: var(--raleway);
    font-size: 36px;
}
.benefits-text p{
    font-family: var(--open-sans);
    font-size: 16px;
    margin-top: 30px;
}
.benefits-img{
    position: relative;
}
.benefits-img img{
    position: relative;
    z-index: 2;
}
.benefits-single-notebook{
    --accent-color: var(--color-redish)
}
.benefits-single-notebook .benefits-img{
    margin-right: 117px;
    margin-bottom: 38px;
}
.benefits-single-notebook .benefits-img::before{
    position: absolute;
    top: -40px;
    right: 0;
    content: "";
    display: block;
    width: 180px;
    height: 180px;
    background-color: var(--accent-color);
    border-radius: 40px;
    transform: rotate(40deg);
}
.benefits-single-notebook .benefits-img img{
    width: 385px;
    height: auto;
}

.benefits-single-phone {
    --accent-color: var(--color-primary);
    flex-direction: row-reverse;
    padding: 0 20px 0 70px;
}
.benefits-single-phone .benefits-img::before {
    content: "";
    width: 310px;
    height: 310px;
    background-color: var(--accent-color);
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -1px;
}
.benefits-single-phone .benefits-img img {
    width: 426px;
    height: auto;
}
.benefits-single-phone .benefits-text {
    margin: 70px 0;
}
.benefits-double{
    --accent-color: var(--color-green);
    display: flex;
}
.benefits-double div{
    margin-bottom: 0;
}
.benefits-single-solo {
    max-width: 620px;
}

.benefits-single-solo .benefits-text {
    max-width: none;
    margin: 70px 35px;
}
.benefits-single-image {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    border: none;
    margin-left: 60px;
}

.benefits-single-image img {
    width: 295px;
    height: auto;
    margin-top: 55px;
}

/*pricing*/
.pricing {
    font-family: var(--open-sans);
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pricing h4{
    font-size: 36px;
    font-family: var(--raleway);
}

.pricing__boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.pricing__box {
    width: 370px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--accent-color);
}
.pricing__details {
    margin-top: 34px;
    margin-bottom: 60px;
    text-align: center;
}

.pricing__type {
    font-size: 1.25rem;
    font-family: var(--raleway);
    font-weight: 700;
}

.pricing__price {
    font-size: 2.875rem;
    font-family: var(--open-sans);
    font-weight: 300;
    margin-top: 25px;
    color: var(--accent-color);
}

.pricing__limited {
    text-align: center;
    margin-top: 15px;
    font-size: 0.75rem;
    font-family: var(--raleway);
    font-weight: 700;
}
.pricing__items {
    text-align: center;
}

.pricing__item {
    font-size: 14px;
    margin-bottom: 20px;
}
.pricing__item::before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../assets/Ckechmark-1.svg");
}

.pricing__item--not::before {
    background-image: url("../assets/Close.svg");
}
.pricing__box .btn {
    position: relative;
    bottom: -25px;
    font-size: 0.8125rem;
    background-color: var(--accent-color);
}
.pricing__box--professional {
    --accent-color: var(--color-primary);
    width: 400px;
    margin: 0 40px;
    box-shadow: 5px 1px 27px var(--color-primary-shadow);
}

.pricing__box--professional .pricing__type {
    font-size: 1.3125rem;
}

.pricing__box--professional .pricing__item {
    margin-bottom: 25px;
}
.pricing__box--basic{
    --accent-color: var(--color-redish);
}
.pricing__box--premium {
    --accent-color: var(--color-green);
}
.btn{
    padding: 16px 57px;
    border-radius: 23px;
    text-decoration: none;
    font-family: var(--open-sans);
    color: white;
}

/*questions-form*/
.questions-form{
    height: 380px;
    padding: 10px;
    max-width: 900px;
    margin-top: 155px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    font-family: var(--open-sans);
}
/*business card*/
.questions-business--card{
    max-height: 170px;
    width: 50%;
}
.questions-business--card h5{
    padding-bottom: 22px;
    font-size: 36px;
    font-family: var(--raleway);
}
.questions-business--card span{
    font-family: var(--open-sans);
    font-size: 16px;
}
.email--phone{
    margin-top: 40px;
    display: flex;
}
.email--phone a{
    text-decoration: none;
}
.email--phone-email{
    padding-right: 50px;
}
.email--phone-email::before{=
    background-image: url("../assets/Mail_Icon.svg");
}
.email--phone-phone{}

/*form*/
.form-container{
    width: 50%;
}
.form{
    display: flex;
    flex-direction: column;
}
.btn-submit{
    color: white;
    font-family: var(--open-sans);
    align-self: flex-end;
    padding: 20px 95px;
    background: var(--color-primary) 0 0 no-repeat padding-box;
    border-radius: 35px;
    border: none;
}
.form-label{
    margin-bottom: 40px;
    font-size: 11px;
    letter-spacing: 3.28px;
    font-weight: bold;
    color: var(--color-primary);
}
.form-label-input{
    height: 50px;
    width: 100%;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid black
}
.form-label-text{
    color: #707070;
    font-size: 12px;
}

/*footer*/
.footer {
    box-shadow: 0 -5px 40px #00000029;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-copy {
    font-size: 0.6875rem;
    line-height: 1.5rem;
    color: var(--color-grey);
    margin-top: 6px;
}

.footer-icons a:first-of-type {
    margin-right: 25px;
}
.logo{
    font-size: 20px;
    font-family: var(--raleway);
    color: var(--color-primary);
    text-decoration: none;
}